<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Verze: {{ global.version }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<p>Loaded: {{ hermes.loaded }}</p>
  <p>List: <a [href]="'/list'">GO</a> tohle nefunguje: cannot read property length of undefined</p>
  <p>Spravne: <ion-button href="/list" routerDirection="forward">GO2 </ion-button> </p>

   <!-- button ion-button full (click)="hermes.loadXML()">Nacti XML</button 
   <button ion-button full (click)="hermes.selectNode('//RECS/REC')">SelectNode</button>

   <button ion-button full (click)="openLocalSpz()">Seznam SPZ</button>-->
   <button ion-button full (click)="hermes.loadXSL()">loadXSL</button>
   <button ion-button full (click)="hermes.showData()">ShowData</button>
 
</ion-content>
